#start-screen {
	display: block;
	position: relative;
	text-align: center;
}

body {
	background-image: url("images/background-image.png");
	color: white;
}

p {
	font-size: 16px;
}

h3 {
	font-size: 18px;
}

h2 {
	font-size: 20px;
}

h1 {
	font-size: 32px;
}

#game-canvas, #end-screen {
	display: none;
	text-align: center;
	background-color: rgba(127, 138, 155, .8);
	padding: 20px;
	margin-top: 5%;
	height: 100%;
	margin-left: 15%;
	margin-right: 15%;
}

#end-screen {
	display: none;
}

button {
	background: none;
	outline: none;
	box-shadow: none;
	color: white;
}

button:hover {
	opacity: 0.7;
}

#start-screen {
	margin-top: 20%;
}